.right{
    font-size: medium;
    float: right;
    align-items: center;
    display: flex;
    gap: 0.4rem;
}
.left{
    font-size: large;
    float: left;
    display: flex;
    justify-content: center;
    
}
.icon{
    font-size: 30px;
}
.avatarProfile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}