.sider {
    height:  50%;
    display: flex;
    justify-content: center;
    /* vertical-align: middle; */
    flex-direction: column;
}
.menu{
    font-size: large;
    
}
.sum{
    /* font-size: absolute-size; */
    /* font-size: adjust; */
    /* content: ""; */
    /* display: inline-block; */
    font-size: xx-large;
    /* font-size-adjust:inherit ; */
}

.selected{
    font-weight: bold;
}