.sider {
    height:  50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.menu{
    font-size: large;
    
}
.sum{
    font-size: xx-large;
}

.selected{
    font-weight: bold;
}